*
{
    box-sizing: border-box;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size: 1.5vw;

}


body
{
    background-image: url("bg.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
}


hidden
{
    display: none;
}


layer
{
    display: block;
    position: absolute;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,20%,0.85);
    overflow: auto;
}


grid
{
    display: table;
}


grow
{
    display: table-row;
}


gcol
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


#mainGrid
{
    width: 100%;
    height: 100%;
}


#formZone
{
    height: 8rem;
}


#formGrid
{
    width: 100%;
}


#viewZone
{
    height: auto;
}


#formCell
{
    padding: 3rem;
}


#viewCell
{
    vertical-align: top;
    padding: 3rem;
}


#searchCell
{
    width: auto;
}

#buttonCell
{
    width: 6rem;
    padding-left:1rem;
}


button
{
    display: inline-block;
    border: 0.2rem solid hsla(220,100%,60%,1);
    border-radius: 3rem;
    background-color: hsla(220,100%,60%,0.3);
    font-size: 3rem;
    line-height: 3rem;
    padding: 1.3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


#cardToss
{
    color: red;
}


#cardName
{
    display: inline-block;
    outline: none;
    padding: 1rem;
    padding-left: 3rem;
    width: 100%;
    height: 6rem;
    background-color: hsla(220,100%,60%,0.3);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    border: 0.2rem solid hsla(220,100%,60%,1);
    border-radius: 3rem;
}

#alarmCell
{
    width: auto;
}

#alarmName
{
    width: 6rem;
    padding-left:1rem;
}


.debug
{
    min-width: 10px;
    min-height: 10px;
    background: #BADA55;
    border: 1px solid #AA0000;
}


card
{
    display: block;
    width: 100%;
    background-color: hsl(0,0%,90%);
    border: 0.2rem solid hsla(220,0%,60%,1);
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1rem hsla(0,0%,0%,1);
    padding: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

card:hover
{
    background-color: hsl(0,0%,100%);
}

.cardItemGrid
{
    width: 100%;
}

.cardTextCell
{
    width: auto;
}

.cardButnCell
{
    width: 3rem;
}

.cardTextCell
{
    text-align: left;
}

.tossCard
{
    border-color: #777;
    color: #777;
    background-color: unset;
}



#configForm
{
    display: block;
    background-color: #FFF;
    padding: 3rem;
    border: 0.2rem solid #777;
    border-radius: 0.5rem;
    margin: 3rem;
    box-shadow: 0px 0px 1rem #000;
}



.alarmDeck
{
    width: 100%;
    height: 100%;
}

.alarmDeck.warm
{
    background-color: hsla(0,100%,60%,0.9);
}

.alarmDeck.cool
{
    background-color: hsla(220,100%,60%,0.9);
}



.alarmFace
{
    vertical-align: middle;
}

.alarmFace
{
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0px 0px 1rem black;
}


#welcome
{
    width: 100%;
    height: 100%;
    color: #FFF;
}

.welcome
{
    vertical-align: middle;
}
